<div class="text-center">
  <h3>Capitaine</h3>

  <%= form_tag '/account/squad/captain', method: :get do %>
  <% active_players_array = @active_players.map { |player| [player.player.name, player.player_id] } %>
  <div>
  <%= select_tag :captain_player, options_for_select(active_players_array) %>
  </div>
  <br>
  <%= submit_tag 'Assigner le brassard', class: "btn-data" %>
  <% end %>
</div>

<div class="text-center">
  <h3>Changements</h3>
  <div class="row">
    <div class="col-xs-6">Banc</div>
    <div class="col-xs-6">Terrain</div>
  </div>
  <%= form_tag '/account/squad/lineup', method: :get do %>
  <% active_players_array = @active_players.map { |player| [player.player.name, player.player_id] } %>
  <% bench_players_array = @bench_players.map { |player| [player.player.name, player.player_id] } %>
  <div class="row">
    <div class="col-xs-6"><%= select_tag :bench_player, options_for_select(bench_players_array) %></div>
    <div class="col-xs-6"><%= select_tag :active_player, options_for_select(active_players_array) %></div>
  </div>
  <br>
  <%= submit_tag 'Effectuer le changement', class: "btn-data" %>
  <% end %>
</div>

<div class="padded">
  <!-- <p><b>Gardiens de but</b></p> -->
  <% @bench_goalkeepers.each do |squad_player| %>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="card-grid">
        <div class="card card-bench">
          <% if squad_player.captain? %>
          <%= image_tag "captain.png", class: 'card-captain'%>
          <% end %>
          <%= image_tag get_team_logo(squad_player), class: 'card-avatar-team' %>
          <div class="card-description">
            <p>
              <strong>
                <%= squad_player.player.name %>
              </strong>
            </p>
            <div class="card-price">Gardien</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>



  <!-- <p><b>Défenseurs</b></p> -->
  <% @bench_defenders.each do |squad_player| %>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="card-grid">
        <div class="card card-bench">
          <% if squad_player.captain? %>
          <%= image_tag "captain.png", class: 'card-captain'%>
          <% end %>
          <%= image_tag get_team_logo(squad_player), class: 'card-avatar-team' %>
          <div class="card-description">
            <p>
              <strong>
                <%= squad_player.player.name %>
              </strong>
            </p>
            <div class="card-price">Défenseur</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>


  <!-- <p><b>Milieux de terrain</b></p> -->
  <% @bench_midfields.each do |squad_player| %>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="card-grid">
        <div class="card card-bench">
          <% if squad_player.captain? %>
          <%= image_tag "captain.png", class: 'card-captain'%>
          <% end %>
          <%= image_tag get_team_logo(squad_player), class: 'card-avatar-team' %>
          <div class="card-description">
            <p>
              <strong>
                <%= squad_player.player.name %>
              </strong>
            </p>
            <div class="card-price">Milieu</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <!-- <p><b>Attaquants</b></p> -->
  <% @bench_forwards.each do |squad_player| %>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="card-grid">
        <div class="card card-bench">
          <% if squad_player.captain? %>
          <%= image_tag "captain.png", class: 'card-captain'%>
          <% end %>
          <%= image_tag get_team_logo(squad_player), class: 'card-avatar-team' %>
          <div class="card-description">
            <p>
              <strong>
                <%= squad_player.player.name %>
              </strong>
            </p>
            <div class="card-price">Attaquant</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
