<%= form_tag(selection_account_squad_path, method: "get") do %>
  <%= collection_select(nil, :team_id, @teams, :id, :name, selected: params[:team_id]) %>
  <%= submit_tag "Ok", class: "btn-data" %>
  <h2><b><%= @team.name %></b></h2>
<% end %>

<!-- GARDIENS DE BUT -->

<!-- <div class="container">
  <div class="row">
    <%# @team_goalkeepers.order(:name).each do |player| %>
    <div class="col-xs-12">
      <%#= player.name %>
      <%#= player.team.name %>
      <%#= player.position %>
      <%#= player.price %>
      <%#= player.total_points %>
      <%# if @squad_goalkeepers.count == 2 %>
      <%# else %>
      <%#= form_tag account_squad_players_path(player_id: player.id) do %>
      <%#= submit_tag "Selectionner", class: "btn-xs btn-primary" %>
      <%# end %>
      <%# end %>
    </div>
    <%# end %>
  </div>
</div> -->

<table class="cell table table-hover table-condensed">
  <thead class="head">
    <tr>
      <th>Gardiens</th>
      <th>Points</th>
      <th>Prix</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <!-- GOALKEEPERS -->
    <% @team_goalkeepers.each do |player| %>
    <tr>
      <td><b><%= player.name %></b></td>
      <td><%= player.total_points %> Pts</td>
      <td><%= player.price/10.0 %> M€</td>
      <td><% if @squad_goalkeepers.count == 2 || @squad_players.where(players: { team_id: @team.id }).count == 3 %>
        <% else %>
        <%= form_tag account_squad_players_path(player_id: player.id) do %>
        <%= submit_tag "+", class: "btn-medium" %>
        <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<!-- DEFENDERS -->
<table class="cell table table-hover table-condensed">
  <thead class="head">
    <tr>
      <th>Défenseurs</th>
      <th>Points</th>
      <th>Prix</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @team_defenders.each do |player| %>
    <tr>
      <td><b><%= player.name %></b></td>
      <td><%= player.total_points %> Pts</td>
      <td><%= player.price/10.0 %> M€</td>
      <td><% if @squad_defenders.count == 5 || @squad_players.where(players: { team_id: @team.id }).count == 3 %>
        <% else %>
        <%= form_tag account_squad_players_path(player_id: player.id) do %>
        <%= submit_tag "+", class: "btn-medium" %>
        <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<!-- MIDFIELDS -->
<table class="cell table table-hover table-condensed">
  <thead class="head">
    <tr>
      <th>Milieux</th>
      <th>Points</th>
      <th>Prix</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @team_midfields.each do |player| %>
    <tr>
      <td><b><%= player.name %></b></td>
      <td><%= player.total_points %> Pts</td>
      <td><%= player.price/10.0 %> M€</td>
      <td><% if @squad_midfields.count == 5 || @squad_players.where(players: { team_id: @team.id }).count == 3 %>
        <% else %>
        <%= form_tag account_squad_players_path(player_id: player.id) do %>
        <%= submit_tag "+", class: "btn-medium" %>
        <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<!-- FORWARDS -->
<table class="table table-hover table-condensed">
  <thead class="head">
    <tr>
      <th>Attaquants</th>
      <th>Points</th>
      <th>Prix</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @team_forwards.each do |player| %>
    <tr>
      <td><b><%= player.name %></b></td>
      <td><%= player.total_points %> Pts</td>
      <td><%= player.price/10.0 %> M€</td>
      <td><% if @squad_forwards.count == 3 || @squad_players.where(players: { team_id: @team.id }).count == 3 %>
        <% else %>
        <%= form_tag account_squad_players_path(player_id: player.id) do %>
        <%= submit_tag "+", class: "btn-medium" %>
        <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
