<div class="pitch-background text-center" style="background-image:url('<%= image_path('pitch.png') %>')">
  <div class="row flex">
    <!-- <p><b>Gardiens de but</b></p> -->
    <% @squad_goalkeepers.each do |squad_player| %>
    <div class="col-xs-4 col-sm-2">
      <br>
      <div class="card">
        <div class="card-category">
          <b><%= squad_player.player.name %></b>
        </div>
        <%= image_tag get_team_logo(squad_player), :class => 'card-user avatar-team' %>
        <div class="card-description">
          <%= squad_player.player.price %> M € / <%= squad_player.player.total_points %>Pts</br>
          <%= form_tag account_squad_player_path(squad_player), method: :delete do %>
          <%= submit_tag "Retirer", class: "btn btn-medium" %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>


  <div class="row flex">
    <!-- <p><b>Défenseurs</b></p> -->
    <% @squad_defenders.each do |squad_player| %>
    <div class="col-xs-4 col-sm-2">
      <br>
      <div class="card">
        <div class="card-category">
          <b><%= squad_player.player.name %></b>
        </div>
        <%= image_tag get_team_logo(squad_player), :class => 'card-user avatar-team' %>
        <div class="card-description">
        <%= form_tag account_squad_player_path(squad_player), method: :delete do %>
          <%= submit_tag "Retirer", class: "btn btn-medium" %>
          <% end %>
        <%= squad_player.player.price %> M € / <%= squad_player.player.total_points %>Pts</br>
        </div>
      </div>
    </div>
    <% end %>
  </div>


  <div class="row flex">
    <!-- <p><b>Milieux de terrain</b></p> -->
    <% @squad_midfields.each do |squad_player| %>
    <div class="col-xs-4 col-sm-2">
      <br>
      <div class="card">
        <div class="card-category">
          <b><%= squad_player.player.name %></b>
        </div>
        <div class="card-description">
        <%= form_tag account_squad_player_path(squad_player), method: :delete do %>
          <%= submit_tag "Retirer", class: "btn btn-medium text-center" %>
          <% end %>
        <%= squad_player.player.price %> M € / <%= squad_player.player.total_points %>Pts</br>
        </div>
        <%= image_tag get_team_logo(squad_player), :class => 'card-user avatar-team' %>
      </div>
    </div>
    <% end %>
  </div>


  <div class="row flex">
    <!-- <p><b>Attaquants</b></p> -->
    <% @squad_forwards.each do |squad_player| %>
    <div class="col-xs-4 col-sm-2">
      <br>
      <div class="card">
        <div class="card-category">
          <b><%= squad_player.player.name %></b>
        </div>
        <%= image_tag get_team_logo(squad_player), :class => 'card-user avatar-team' %>
        <div class="card-description">
          <%= squad_player.player.price %> M € / <%= squad_player.player.total_points %>Pts</br>
          <%= form_tag account_squad_player_path(squad_player), method: :delete do %>
          <%= submit_tag "Retirer", class: "btn btn-medium" %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
