<div class="container">
  <h2>Sélectionnes 2 gardiens, 5 défenseurs, 5 milieux et 3 attaquants</h2>
  <div class="row">
    <div class="col-xs-12">
      <%= form_tag(selection_account_squad_path, method: "get") do %>
      <%= collection_select(:user, :team_id, @teams, :id, :name) %>
      <%#= select_tag(:teams_id, options_for_select(@teams[:id, :name])) %>
      <%= submit_tag("Search") %>
      <h2><b><%= @team.name %></b></h2>
      <p><b>Gardiens de but</b></p>
      <% end %>
    </div>  
  </div>
<!-- GARDIENS DE BUT -->
  <div class="row">
    <% @team_goalkeepers.order(:name).each do |player| %>
    <div class="col-xs-3">
      <%= player.name %>

      <%= form_tag account_squad_players_path(player_id: player.id) do %>
      <%= submit_tag "Selectionner", class: "btn btn-primary" %>
      <% end %>
    </div>
    <% end %>
  </div>
  <!-- DEFENDERS -->
  <br>
  <p><b>Défenseurs</b></p>
  <div class="row">
    <% @team_defenders.order(:name).each do |player| %>
    <div class="col-xs-3">
      <%= player.name %>

      <%= form_tag account_squad_players_path(player_id: player.id) do %>
      <%= submit_tag "Selectionner", class: "btn btn-primary" %>
      <% end %>
    </div>
    <% end %>
  </div>
  <!-- MIDFIELDS -->
  <br>
  <p><b>Milieux de terrain</b></p>
  <div class="row">
    <% @team_midfields.order(:name).each do |player| %>
    <div class="col-xs-3">
      <%= player.name %>

      <%= form_tag account_squad_players_path(player_id: player.id) do %>
      <%= submit_tag "Selectionner", class: "btn btn-primary" %>
      <% end %>
    </div>
    <% end %>
  </div>
  <!-- FORWARDS -->
  <br>
  <p><b>Attaquants</b></p>
  <div class="row">
    <% @team_forwards.order(:name).each do |player| %>
    <div class="col-xs-3">
      <%= player.name %>

      <%= form_tag account_squad_players_path(player_id: player.id) do %>
      <%= submit_tag "Selectionner", class: "btn btn-primary" %>
      <% end %>
    </div>
    <% end %>
  </div>
  <!-- SELECTION -->
  <div class="row">
    <div class="col-xs-12">
      <h2>Selection</h2>
    </div>  
  </div>
  <br>
  <p><b>Gardiens de but</b></p>
  <div class="row">
    <% @squad_goalkeepers.each do |squad_player| %>
    <div class="col-xs-3">
      <%= squad_player.player.name %> - <%= squad_player.player.team.name %>
      <%= form_tag account_squad_player_path(squad_player), method: :delete do %>
      <%= submit_tag "Retirer", class: "btn btn-primary" %>
      <% end %>
    </div>
    <% end %>
  </div>
  <br>
  <p><b>Défenseurs</b></p>
  <div class="row">
    <% @squad_defenders.each do |squad_player| %>
    <div class="col-xs-3">
      <%= squad_player.player.name %> - <%= squad_player.player.team.name %>
      <%= form_tag account_squad_player_path(squad_player), method: :delete do %>
      <%= submit_tag "Retirer", class: "btn btn-primary" %>
      <% end %>
    </div>
    <% end %>
  </div>
  <br>
  <p><b>Milieux de terrain</b></p>
  <div class="row">
    <% @squad_midfields.each do |squad_player| %>
    <div class="col-xs-3">
      <%= squad_player.player.name %> - <%= squad_player.player.team.name %>
      <%= form_tag account_squad_player_path(squad_player), method: :delete do %>
      <%= submit_tag "Retirer", class: "btn btn-primary" %>
      <% end %>
    </div>
    <% end %>
  </div>
  <br>
  <p><b>Attaquants</b></p>
  <div class="row">
    <% @squad_forwards.each do |squad_player| %>
    <div class="col-xs-3">
      <%= squad_player.player.name %> - <%= squad_player.player.team.name %>
      <%= form_tag account_squad_player_path(squad_player), method: :delete do %>
      <%= submit_tag "Retirer", class: "btn btn-primary" %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<%=link_to 'Sauvegarder', account_squad_path, class:"search-btn navbar-wagon-item navbar-wagon-button btn" %>