<%= content_for :body_class, "body-picth-active" %>

<div class="pitch-view-container">
  <div class="pitch-view-layout">
    <div class="pitch-view-layout--field">
      <h3 class="text-center">Ma Sélection  </h3>
      <p class="text-center"> <% if @squad.budget < 800 %>
      <%= "Mon budget:"%> <%= @squad.budget %> <%= "sur 800" %>
      <% else %>
      <%= "Ton budget est dépassé! (" %> <%= @squad.budget %> <%= ") sur 800" %>
      <% end %>
       </p>

      <%= render 'account/squads/pitch-selection' %>
    </div>
    <div class="pitch-view-layout--datas">
      <h3 class="text-center">Sélection de joueurs</h3>
      <%= render 'account/squads/data' %>
    </div>
  </div>
</div>

<div class="pitch-view--call-to-action">
  <% if @squad_players.count == 15 && @squad.budget <= 800 %>
    <%=link_to 'Sauvegarder', account_squad_path, class:"search-btn navbar-wagon-item navbar-wagon-button btn" %>
  <% end %>
</div>
