<h1><%= @squad.name %></h1>


<!-- SELECTION -->
<div class="container">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-8">


      <div class="row">
        <div class="col-xs-12">
          <h2>Ma Selection</h2>
        </div>  
      </div>

<!-- <p><b>Gardiens de but</b></p>
<div class="row">
  <%# @squad_goalkeepers.each do |squad_player| %>
  <div class="col-xs-3">
    <%#= squad_player.player.name %> - <%#= squad_player.player.team.name %>
    <%#= form_tag account_squad_player_path(squad_player), method: :delete do %>
    <%#= submit_tag "Retirer", class: "btn-xs btn-primary" %>
    <%# end %>
  </div>
  <%# end %>
</div> -->


<div class="row">
  <p><b>Gardiens de but</b></p>
  <% @squad_goalkeepers.each do |squad_player| %>
  <div class="col-xs-4 col-sm-2"> 
    <div class="card" style="background-image: url('<%= image_path('ball.jpg') %>')" >
      <div class="card-category">
        <b><%= squad_player.player.name %></b>
      </div>
      <div class="card-description">
        <%= squad_player.player.team.name %></br>
        <%= squad_player.player.price %> M € / <%= squad_player.player.total_points %>Pts</br>
      </div>
      <div class="card-user avatar avatar-small">
        <%#= image_tag 'placeholder.png', class: "avatar",  data: { toggle: 'dropdown'}  %>
      </div>
    </div>
  </div>
  <% end %>
</div>


<div class="row">
  <p><b>Défenseurs</b></p>
  <% @squad_defenders.each do |squad_player| %>
  <div class="col-xs-4 col-sm-2"> 
    <div class="card" style="background-image: url('<%= image_path('ball.jpg') %>')" >
      <div class="card-category">
        <b><%= squad_player.player.name %></b>
      </div>
      <div class="card-description">
        <%= squad_player.player.team.name %></br>
        <%= squad_player.player.price %> M € / <%= squad_player.player.total_points %>Pts</br>
      </div>
      <div class="card-user avatar avatar-small">
        <%#= image_tag 'placeholder.png', class: "avatar",  data: { toggle: 'dropdown'}  %>
      </div>
    </div>
  </div>
  <% end %>
</div>


<div class="row">
  <p><b>Milieux de terrain</b></p>
  <% @squad_midfields.each do |squad_player| %>
  <div class="col-xs-4 col-sm-2"> 
    <div class="card" style="background-image: url('<%= image_path('ball.jpg') %>')" >
      <div class="card-category">
        <b><%= squad_player.player.name %></b>
      </div>
      <div class="card-description">
        <%= squad_player.player.team.name %></br>
        <%= squad_player.player.price %> M € / <%= squad_player.player.total_points %>Pts</br>
      </div>
      <div class="card-user avatar avatar-small">
        <%#= image_tag 'placeholder.png', class: "avatar",  data: { toggle: 'dropdown'}  %>
      </div>
    </div>
  </div>
  <% end %>
</div>


<div class="row">
  <p><b>Attaquants</b></p>
  <% @squad_forwards.each do |squad_player| %>
  <div class="col-xs-4 col-sm-2"> 
    <div class="card" style="background-image: url('<%= image_path('ball.jpg') %>')" >
      <div class="card-category">
        <b><%= squad_player.player.name %></b>
      </div>
      <div class="card-description">
        <%= squad_player.player.team.name %></br>
        <%= squad_player.player.price %> M € / <%= squad_player.player.total_points %>Pts</br>
      </div>
      <div class="card-user avatar avatar-small">
        <%#= image_tag 'placeholder.png', class: "avatar",  data: { toggle: 'dropdown'}  %>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
</div>
</div>