
<!-- SELECTION -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h1 class="text-center"><%= @squad.name %></h1>
    </div>
  </div>


<!-- TITLES -->


  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <h2 class="text-center padded">Ma Compo</h2>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h3 class="text-center padded">Remplaçants</h3>
    </div>
  </div>

<!-- PITCH (left-side)-->

  <div class="row">
    <div class="col-xs-12 col-sm-8">

      <div class="pitch-background text-center" style="background-image:url('<%= image_path('pitch.png') %>')">

        <div class="row">
          <div class="col-xs-12">
            <br>
            <br>
            <br>
          </div>
        </div>

<!-- <p><b>Gardiens de but</b></p>
<div class="row">
  <%# @squad_goalkeepers.each do |squad_player| %>
  <div class="col-xs-3">
    <%#= squad_player.player.name %> - <%#= squad_player.player.team.name %>
    <%#= form_tag account_squad_player_path(squad_player), method: :delete do %>
    <%#= submit_tag "Retirer", class: "btn-xs btn-primary" %>
    <%# end %>
  </div>
  <%# end %>
</div> -->


<div class="row flex">
  <% @squad_goalkeepers.each do |squad_player| %>
  <div class="col-xs-4 col-sm-2">
    <br>
    <div class="card">
      <div class="card-category">
        <b><%= squad_player.player.name %></b>
      </div>
      <div class="card-description">
        <%= squad_player.player.price %> M € / <%= squad_player.player.total_points %>Pts</br>
      </div>
      <%= image_tag get_team_logo(squad_player), :class => 'card-user avatar-team' %>
    </div>
  </div>
  <% end %>
</div>


<div class="row flex">
  <% @squad_defenders.each do |squad_player| %>
  <div class="col-xs-4 col-sm-2">
    <br>
    <div class="card" >
      <div class="card-category">
        <b><%= squad_player.player.name %></b>
      </div>
      <div class="card-description">
        <%= squad_player.player.price %> M € / <%= squad_player.player.total_points %>Pts</br>
      </div>
      <%= image_tag get_team_logo(squad_player), :class => 'card-user avatar-team' %>
    </div>
  </div>
  <% end %>
</div>


<div class="row flex">
  <% @squad_midfields.each do |squad_player| %>
  <div class="col-xs-4 col-sm-2">
    <br>
    <div class="card" >
      <div class="card-category">
        <b><%= squad_player.player.name %></b>
      </div>
      <div class="card-description">
        <%= squad_player.player.price %> M € / <%= squad_player.player.total_points %>Pts</br>
      </div>
      <%= image_tag get_team_logo(squad_player), :class => 'card-user avatar-team' %>
    </div>
  </div>
  <% end %>
</div>


<div class="row flex">
  <% @squad_forwards.each do |squad_player| %>
  <div class="col-xs-4 col-sm-2">
    <br>
    <div class="card" >
      <div class="card-category">
        <b><%= squad_player.player.name %></b>
      </div>
      <div class="card-description">
        <%= squad_player.player.price %> M € / <%= squad_player.player.total_points %>Pts</br>
      </div>
      <%= image_tag get_team_logo(squad_player), :class => 'card-user avatar-team' %>
    </div>
  </div>
  <% end %>
</div>

</div>


<div class="row">
  <div class="col-xs-12 text-center">
    <div class="padded">
      <%=link_to 'Sauvegarder', account_squad_path, class:"search-btn navbar-wagon-item navbar-wagon-button btn" %>
    </div>
  </div>
</div>
</div>

<!-- BENCH (right-side)-->

<div class="col-xs-12 col-sm-4">

  <div class="row flex">
    <div class="col-sm-6">
      <%= form_tag '/account/squad/lineup', method: :get do %>
      <% active_players_array = @active_players.map { |player| [player.player.name, player.player_id] } %>
      <% bench_players_array = @bench_players.map { |player| [player.player.name, player.player_id] } %>
      <%= select_tag :bench_player, options_for_select(bench_players_array) %>
      <%= select_tag :active_player, options_for_select(active_players_array) %>
      <%= submit_tag %>
      <% end %>



    <% @bench_players.each do |squad_player| %>
      <div class="card" >
        <div class="card-category">
          <b><%= squad_player.player.name %></b>
        </div>
        <div class="card-description">
          <%= squad_player.player.price %> M € / <%= squad_player.player.total_points %>Pts</br>
        </div>
        <%= image_tag get_team_logo(squad_player), :class => 'card-user avatar-team' %>
      </div>
      <% end %>
    </div>
  </div>

</div>
</div>
</div>
</div>

