
<div class="navbar-wagon-item">
  <div class="dropdown">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation" class="active"><a href="#">Mon équipe</a></li>
      <li role="presentation"><%= link_to "Transferts", selection_account_squad_path %> </li>
      <li role="presentation"><%= link_to "Points", account_gameweek_path(:gameweek_number)%></li>
    </ul>
  </div>
</div>
<div class="text-center">
<h1><%= current_user.squad.name %> </h1>
</div>
<table class="table sortable">
  <thead>
    <tr>
      <th> Nom</th>
      <th>Equipe</th>
      <th> Position</th>
      <th> Semaine</th>
      <th> Lineups</th>
      <th> Minutes</th>
      <th> Goal</th>
      <th> Jaune</th>
      <th> Rouge</th>
      <th> Gagné</th>
      <th> Nul</th>
      <th> Perdu</th>
      <th> Total</th>
    </tr>
  </thead>

  <tbody>

    <% @gameweeks.each do |gameweek| %>
    <tr class="<%= cycle('oddrow', 'evenrow') %>">
      <td><%= gameweek.player.name %> </td>
      <td><%= gameweek.player.team.name %> </td>
      <td> <%= gameweek.player.position %> </td>
      <td><%= gameweek.gameweek_number %> </td>
      <td><%= gameweek.lineups %> </td>
      <td><%= gameweek.minutes_played %> </td>
      <td><%= gameweek.goal %> </td>
      <td><%= gameweek.yellow_card %> </td>
      <td><%= gameweek.red_card %> </td>
      <td><%= gameweek.player.team.won %> </td>
      <td><%= gameweek.player.team.draw %> </td>
      <td><%= gameweek.player.team.lost %> </td>
      <td><%= gameweek.day_points %> </td>
    </tr>
  </tbody>

  <% end %>


</table>
<!-- <div class="panel-footer"></div> -->


