<div class="navbar-wagon navbar-wagon-fixed">
  <%= link_to root_path, class:"navbar-wagon-brand" do  %>
  <%= image_tag 'field-logo.png' %>
  <% end %>
  <% if signed_in? %>
  <div class="dropdown">
    <ul class="nav-fantasy-center">
      <li>
        <%= link_to "Mon équipe", account_squad_path %>
      </li>
      <li>
        <%= link_to "Transferts", selection_account_squad_path %>
      </li>
      <li>
        <%= link_to "Mes Points", account_gameweek_path(@gameweek_number) %>
      </li>
      <li>
        <%= link_to "Leagues", account_leagues_path %>
      </li>
    </ul>
  </div>

  <div class="navbar-wagon-right hidden-xs">

    <div class="dropdown">

      <ul class="nav-fantasy">
        <li>
          <% if current_user.nickname.nil? %>

          <li><%=link_to account_profile_path do %>
            <div class="nickname_and_squad">
              <div class="nav-squad">
                <% if current_user.squad.nil? %>
                <%= "No squad yet !" %>
                <% else %>
                <%= current_user.squad.name %>
                <% end %>
              </div>
              <div class="nav-nickname">
                <p>C'est quoi ton p'tit nom?</p>
              </div>
            </div>
            <% end %>
          </li>

          <% else %>
          <li><%=link_to account_profile_path do %>
            <div class="nickname_and_squad">
              <div class="nav-squad">
                <% if current_user.squad.nil? %>
                <%= "No squad yet !" %>
                <% else %>
                <%= current_user.squad.name %>
                <% end %>
              </div>
              <div class="nav-nickname">
                <%= current_user.nickname %>
              </div>
            </div>

            <% end %>
          </li>

          <% end %>
        </li>
        <li>
          <% if current_user.facebook_picture_url %>
          <%= image_tag current_user.facebook_picture_url, class:"avatar", data: { toggle: 'dropdown'} %>
          <% else %>
          <%= image_tag 'placeholder.png', class: "avatar",  data: { toggle: 'dropdown'}  %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to 'Profile', account_profile_path %></li>
            <li>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </li>
      </ul>

    </div>
    <% end %>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to 'Profile', account_profile_path %></li>
        <li>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </div>
  </div>
</div>
