<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <%= link_to root_path, class:"navbar-wagon-brand" do  %>
  <%= image_tag 'field-logo.png' %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->
<!--     <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form> -->


    <!-- Text link -->


    <!-- Notification link-->
<!--     <a href="" class="navbar-wagon-item navbar-wagon-link">
      <div class="badge-container">
        <i class="fa fa-envelope-o"></i>
        <div class="badge badge-blue"></div>
      </div>
    </a> -->



    <!-- Profile picture and dropdown -->
    <% if signed_in? %>
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <span>
        <%= link_to "Mon équipe", account_squad_path, class: "navbar-wagon-item navbar-wagon-button btn", style: "color: white" %>
        </span>
        <span>
        <%= link_to "Transferts", selection_account_squad_path, class: "navbar-wagon-item navbar-wagon-button btn", style: "color: white" %>
        </span>
        <span>
        <%= link_to "Mes Points", account_gameweek_path(@gameweek_number), class: "navbar-wagon-item navbar-wagon-button btn", style: "color: white" %>


        </span>
          <span>
          <% if current_user.nickname.nil? %>
          <%=link_to "C'est quoi ton p'tit nom? ", account_profile_path %>
          <% else %>
            <%=link_to "#{current_user.nickname}", account_profile_path %>
            <% end %>
          </span>

          <% if current_user.facebook_picture_url %>
          <%= image_tag current_user.facebook_picture_url, class:"avatar", data: { toggle: 'dropdown'} %>
          <% else %>
          <%= image_tag 'placeholder.png', class: "avatar",  data: { toggle: 'dropdown'}  %>
          <% end %>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>  <%= link_to 'Profile', account_profile_path %>
              <li>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </div>
        </div>

        <% else %>
        <%= link_to 'login', new_user_session_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
        <%= link_to "Become a manager", new_user_registration_path,  class: "navbar-wagon-item navbar-wagon-button btn" %>
        <% end %>

        <!-- Button (call-to-action) -->

      </div>

    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>  <%= link_to 'Profile', account_profile_path %>
            <li>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </div>
      </div>
    </div>
