<ul>
  <%= simple_form_for([@squad]) do |f| %>
    <%= f.input :name %>
    <%= f.input :budget %>

    <h3>Choisis 2 Gardiens</h3>
    <% @new_goalkeepers.each_with_index do |goalkeeper, index| %>
      <%= simple_fields_for "players_squads_attributes[#{index}]", goalkeeper do |player_squad_form| %>
        <%= player_squad_form.association :player, collection: @goalkeepers %>
      <% end %>
    <% end %>

    <h3>Choisis 5 Défenseurs</h3>  
    <% @new_defenders.each_with_index do |defender, index| %>
      <%= simple_fields_for "players_squads_attributes[#{2 + index}]", defender do |player_squad_form| %>
        <%= player_squad_form.association :player, collection: @defenders %>
      <% end %>  
    <% end %>

    <h3>Choisis 5 Milieu</h3>  
    <% @new_midfields.each_with_index do |midfield, index| %>
      <%= simple_fields_for "players_squads_attributes[#{7 + index}]", midfield do |player_squad_form| %>
        <%= player_squad_form.association :player, collection: @midfields %>
      <% end %>  
    <% end %>

    <h3>Choisis 3 Attaquants</h3>  
    <% @new_forwards.each_with_index do |forward, index| %>
      <%= simple_fields_for "players_squads_attributes[#{12 + index}]", forward do |player_squad_form| %>
        <%= player_squad_form.association :player, collection: @forwards %>
      <% end %>   
    <% end %>

    <%= f.submit class:"btn btn-treehouse" %>
  <% end %>
</ul>
